<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <title>Rejestracja</title>
        <link rel="shortcut icon" href="/images/icon.png">
    </head>
    <body>
        <div>
            <form action="/rejestracja/rej" method="POST">
                <input type="text" name="username" placeholder="Login"/><br />
                <input type="text" name="password" placeholder="hasło"/><br />
                <input type="text" name="email" placeholder="uzytkownik@domena.com"><br>
                <input type="submit" value="zarejestruj" />
              </form>
              <a href="login">Zaloguj</a>
        </div>
    </body>
</html>