<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Czeklista</title>
    <link rel="shortcut icon" href="/images/icon.png">
</head>
<body>
    <ul
</body>
</html>